name: Build and Predict TensorFlow Model

on:
  workflow_dispatch: # Allows manual triggering of the workflow
    inputs:
      branch:
        description: 'The branch to run the workflow on'
        required: false
        default: 'master'
      epochs:
        description: 'Number of training epochs'
        required: false
        default: '200'
      learning_rate:
        description: 'Learning rate for the optimizer'
        required: false
        default: '0.0005'

jobs:
  build-and-predict:
    runs-on: ubuntu-latest

    # Set Environment Variables from Inputs
    env:
      EPOCHS: ${{ github.event.inputs.epochs }}
      LEARNING_RATE: ${{ github.event.inputs.learning_rate }}

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      # Install dependencies
      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Build TensorFlow model
      - name: Build TensorFlow Model
        run: |
          python build_model.py
        env:
          CUDA_VISIBLE_DEVICES: "-1" # Ensures TensorFlow runs on CPU

      # Verify model exists
      - name: Verify model exists
        run: ls -l image_classifier.keras

      # Save Model Artifact
      - name: Save Model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: image_model
          path: |
            image_classifier.keras
            training_metrics.png

      # Download Model Artifact
      - name: Download Model Artifact
        uses: actions/download-artifact@v4
        with:
          name: image_model
          path: .

      # Run predictions
      - name: Run Predictions
        run: |
          python run_predictions.py
